{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <section class="contact">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-1 contact-grid uk-child-width-1-2@m">
                <div>
                    <h3 class="title">Обратная связь</h3>
                    <p class="para">Любые вопросы и предложение мы с радостью рассмотрим и дадим ответ</p>
                    <div class="uk-alert-success" uk-alert=""><a class="uk-alert-close" uk-close=""></a>
                        <h2 class="uk-text-center">
                            Форма отправлена</h2>
                        <p class="uk-text-center">Спасибо</p>
                    </div>
                    <form class="uk-grid uk-child-width-1-1 form-grid uk-child-width-1-2@l">
                        <div>
                            <input class="uk-input contact-input" type="text" placeholder="Имя" required>
                            <input class="uk-input contact-input" type="text" placeholder="Фамилия" required>
                        </div>
                        <div>
                            <input class="uk-input phoneUnique contact-input" type="" placeholder="Телефон" required>
                            <input class="uk-input contact-input" type="email" placeholder="E-mail" required>
                        </div>
                        <div class="textarea-block">
                            <textarea class="uk-textarea contact-area" rows="5" placeholder="Textarea"></textarea>
                        </div>
                        <div class="button-block">
                            <button class="send-button">Отправить</button>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="contact-info">
                        <h2>Give us a call or write to us about anything</h2>
                        <div class="info-block">
                            <h3>Телефон</h3>
                            <p>0555 50 50 50</p>
                            <p>0777 70 70 70</p>
                        </div>
                        <div class="info-block">
                            <h3>E-mail</h3>
                            <p>company@info.com</p>
                        </div>
                        <div class="info-block">
                            <h3>Адрес</h3>
                            <p>ул. Моссковсая 212 \ Советская</p>
                        </div>
                        <div class="info-block">
                            <h3>Web</h3>
                            <p>company.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}