{% load staticfiles %}

<footer>
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-1 footer-icon-grid uk-child-width-1-4@l uk-child-width-1-2@s">
            <div class="uk-padding-remove">
                <div class="grid-item uk-flex uk-flex-middle">
                    <div class="icon-wrapper"><img src="{% static 'img/png/phone.png' %}" alt="Phone"></div>
                    <div class="phone-block"><a href="tel:+996555555555" target="_blank">+996 (555) 50 50 50</a></div>
                </div>
            </div>
            <div class="uk-padding-remove">
                <div class="grid-item uk-flex uk-flex-middle">
                    <div class="icon-wrapper"><img src="{% static 'img/png/mail.png' %}" alt="Mail"></div>
                    <a href="mailto:company@info.com" target="_blank">company@info.com</a>
                </div>
            </div>
            <div class="uk-padding-remove">
                <div class="grid-item uk-flex uk-flex-middle">
                    <div class="icon-wrapper"><img src="{% static 'img/png/loc.png' %}" alt="Location"></div>
                    <a href="" target="_blank">г.Москва,<br>ул. Московская</a>
                </div>
            </div>
            <div class="uk-padding-remove">
                <div class="grid-item uk-flex uk-flex-middle no-border">
                    <div class="icon-wrapper"><img src="{% static 'img/png/map.png' %}" alt="Map"></div>
                    <a href="" target="_blank">Показать офис на карте</a>
                </div>
            </div>
        </div>
        <div class="uk-navbar-nav bottom-navbar">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a class="footer-link" href="index.html">Главная</a></li>
                    <li><a class="footer-link" href="goods.html">Товары</a></li>
                    <li><a class="footer-link" href="contacts.html">Контакты</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="icon-link" href=""><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="icon-link" href=""><i class="zmdi zmdi-instagram"></i></a></li>
                    <li><a class="icon-link" href=""><i class="zmdi zmdi-vk"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">© 2018 Печати и Визитки</div>
    </div>

</footer>