{% load staticfiles %}

<header>
    <div class="top-line uk-visible@s">
        <div class="uk-navbar-container">
            <div class="uk-container">
                <nav class="uk-navbar">
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li><a class="top-line-link" href="mailto:company@info.com" target="_blank">
                                <i class="zmdi zmdi-email"></i>company@info.com</a></li>
                            <li><a class="top-line-link" href="tel" target="_blank">
                                <i class="zmdi zmdi-phone"></i>+996 550 50 50 50</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li><a class="top-line-link" href=""><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a class="top-line-link" href=""><i class="zmdi zmdi-instagram"></i></a></li>
                            <li><a class="top-line-link" href=""><i class="zmdi zmdi-vk"></i> </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{#    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">#}
    <div class="uk-navbar-container main-header uk-visible@s" id="header-fixed">
        <div class="uk-container">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <div class="logo-block uk-flex uk-flex-middle"><a class="logo-wrap" href="{% url 'index_view' %}"></a><img
                            class="logo" src="{% static 'img/png/simple.png' %}" alt=""><span>PechatiVizitki</span></div>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="{% url 'index_view' %}">Главная</a></li>
                        <li><a href="{% url 'products' %}">Товары</a></li>
                        <li><a href="{% url 'contacts_view' %}">Контакты</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{#    </div>#}
{#    <div uk-sticky="sel-target: .mob-navbar; cls-active: uk-navbar-sticky">#}
    <nav class="uk-navbar uk-navbar-container uk-hidden@s mob-navbar">
        <div class="uk-navbar-left"><a href="{% url 'index_view' %}"><img src="{% static 'img/png/simple.png' %}" alt="Logo"
                                                              width="40"
                                                              style="margin-left: 20px;"></a></div>
        <div class="uk-navbar-right">
            <button class="uk-navbar-toggle-icon uk-icon mob-menu-button" type="button" uk-navbar-toggle-icon=""
                    uk-toggle=""></button>
            <div uk-drop="mode: click; pos: center">
                <div class="uk-card uk-card-default">
                    <ul class="uk-navbar-nav">
                        <li><a href="{% url 'index_view' %}">Главная</a></li>
                        <li><a href="{% url 'products' %}">Товары</a></li>
                        <li><a href="{% url 'contacts_view' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{#    </div>#}
</header>