{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <section class="home">
        <div uk-slideshow="infinite: true; max-height: 500">
            <div class="uk-position-relative uk-visible-toggle uk-light">
                <ul class="uk-slideshow-items">
                    <li><img src="{% static 'img/jpg/one.jpg' %}" alt="" uk-cover=""></li>
                    <li><img src="{% static 'img/jpg/two.jpg' %}" alt="" uk-cover=""></li>
                    <li><img src="img/jpg/three.jpg" alt="" uk-cover=""></li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous=""
                   uk-slideshow-item="previous"></a><a
                    class="uk-position-center-right uk-position-small uk-hidden-hover"
                    href="#" uk-slidenav-next="" uk-slideshow-item="next"></a>
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin" id="slide-buttons"></ul>
            </div>
        </div>
        <div class="category">
            <div class="uk-container">
                <h2 class="section-heading">Категории</h2>
                <div class="uk-grid category-grid uk-grid-match uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1">
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="item.html">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                    <div>
                        <div class="category-item">
                            <div class="uk-cover-container img-cover"><img src="{% static 'img/png/shirt.png' %}" alt=""
                                                                           uk-cover="">
                            </div>
                            <a class="item-heading" href="">Футболка Adidas</a>
                            <p class="desc">Размер 30 </p>
                            <div class="price"><span>3500 сом	</span></div>
                            <a class="see-item" href="#modal-call" uk-toggle="">Заказать</a>
                        </div>
                    </div>
                </div>
                <a class="show-more" href="">Показать больше</a>
            </div>
        </div>
        <div class="advantage">
            <div class="uk-container">
                <h2 class="section-heading">Why you should choose us</h2>
                <div class="uk-grid ad-grid uk-child-width-1-1 uk-grid-match uk-child-width-1-3@m">
                    <div>
                        <div class="ad-item">
                            <div class="uk-cover-container ad-img"><img src="{% static 'img/png/case.png' %}" alt=""
                                                                        uk-cover=""></div>
                            <h3 class="ad-heading">Best quality</h3>
                            <p class="ad-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                                exercitationem?</p>
                        </div>
                    </div>
                    <div>
                        <div class="ad-item">
                            <div class="uk-cover-container ad-img"><img src="{% static 'img/png/case.png' %}" alt=""
                                                                        uk-cover=""></div>
                            <h3 class="ad-heading">Best quality</h3>
                            <p class="ad-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                                exercitationem?</p>
                        </div>
                    </div>
                    <div>
                        <div class="ad-item">
                            <div class="uk-cover-container ad-img"><img src="{% static 'img/png/case.png' %}" alt=""
                                                                        uk-cover=""></div>
                            <h3 class="ad-heading">Best quality</h3>
                            <p class="ad-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                                exercitationem?</p>
                        </div>
                    </div>
                </div>
                <a class="show-more order" href="#modal-call" uk-toggle="">Заказать сейчас</a>
            </div>
        </div>
        <div class="feedback">
            <div class="uk-container">
                <h2 class="section-heading">Отзывы клиентов</h2>
                <div uk-slider="">
                    <div class="uk-position-relative uk-visible-toggle uk-light">
                        <ul class="uk-slider-items uk-grid uk-child-width-1-2@s uk-grid-match">
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <div class="uk-cover-container img-wrapper"><img
                                                src="{% static 'img/jpg/person1.jpg' %}"
                                                alt=""
                                                uk-cover=""></div>
                                        <h3 class="uk-card-title uk-text-center">Alex Hunter</h3>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <div class="uk-cover-container img-wrapper"><img
                                                src="{% static 'img/jpg/person2.jpg' %}"
                                                alt=""
                                                uk-cover=""></div>
                                        <h3 class="uk-card-title uk-text-center">Elena Case</h3>
                                        <p> Lorem ip ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-body">
                                        <div class="uk-cover-container img-wrapper"><img
                                                src="{% static 'img/jpg/person3.jpg' %}"
                                                alt=""
                                                uk-cover=""></div>
                                        <h3 class="uk-card-title uk-text-center">Hugh Jackman</h3>
                                        <p> Lorem ippsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-previous="" uk-slider-item="previous"></a><a
                            class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                            uk-slidenav-next=""
                            uk-slider-item="next"></a>
                    </div>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

{% endblock %}